ul{
    list-style: none;
}

.container {
    height: 100vh;
}
.first-page
{
    background-image: url(./images/Illustration-header-desktop-2.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 100%;

}

.border-right {
    display: flex;
    flex: 1;
    height: 0;
    margin-top: 26px;
    border-bottom: 1px solid #212121;
  }

  .card-1 {
    background-image: url("./images/card-1.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .card-2 {
    margin-top: 22px;
    background-image: url("./images/card-2.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .card-3 {
    margin-top: 22px;
    background-image: url("./images/card-3.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }