ul{
    list-style: none;
}

.container {
    height: 100vh;
}
.first-page
{
    background-image: url(./images/Illustration-header-desktop-2.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 100%;

}
.second-page{

}
.border-right {
    display: flex;
    flex: 1;
    height: 0;
    margin-top: 26px;
    border-bottom: 1px solid #212121;
  }
.left-image{
     
}